html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-size: 16px;
	background: black;
	color: white;
	font-family: sans-serif;
}

body {

	--bar: #222;

	--ui-bg: #999;
	--ui-bg-hover: #DDD;
	--ui-bg-active: #666;
	--ui-fg: #222;

	--grid-light: #555;
	--grid-dark: #333;

	user-select: none;
	-webkit-user-select: none;

	--checker:	repeating-conic-gradient(var(--grid-light) 0% 25%, var(--grid-dark) 0% 50%) 0 0 / 0.75rem 0.75rem;

	font-size: 1.5em;

	display: flex;
	flex-direction: column;
}

button {
	border: unset;
	padding: unset;
	font-size: unset;
}

input[type=range] {
	-webkit-appearance: unset;
	font-size: unset;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: unset;
}

input[type=range]::-moz-range-thumb {
  border: unset;
}

bar {
	height: 1.5em;
	font-family: monospace;
	font-weight: bold;
	background: var(--bar);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-shrink: 0;
}

bar.top {
	order:1;
}

bar.bottom {
	order:3;
}

bar-group {
	display: flex;
	align-items: center;
}

bar-group > * {
	margin: 0 0.2em;
}

bar-group.left {
	justify-content: flex-start;
}

bar-group.middle {
	justify-content: center;
}

bar-group.right {
	justify-content: flex-end;
}

button-group {
	display: flex;
	align-items: stretch;
}

button-group > * {
	margin: 0 max(1px, 0.025em);
}

button-group > *:first-child {
	border-radius: 1em 0 0 1em;
}

button-group > *:first-child icon {
	background-position: 60%;
}

button-group > *:last-child {
	border-radius: 0 1em 1em 0;
}

button-group > *:last-child icon {
	background-position: 40%;
}

bar label {
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: stretch;
	color: var(--ui-bg);

	user-select: none;
	-webkit-user-select: none;
	cursor: default;
	font-size: 0.75em;
}

bar button {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background-color: var(--ui-bg);
	cursor: pointer;
	/*filter: invert();*/
}

bar button icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	filter: contrast(0) brightness(0.25);
	/*filter: contrast(0) brightness(2);*/
}

bar button:hover, bar button:focus {
	background-color: var(--ui-bg-hover);
	outline: none;
}

bar button:active {
	background-color: var(--ui-bg-active);
}

bar input[type=range] {
	width: 5em;
	height: 1em;
	background: var(--ui-bg-active);
	padding: 0 0.1em;
}

bar input[type=range]:hover, bar input[type=range]:focus {
	background-color: var(--ui-bg-hover);
	outline: none;
}

bar input[type=range]::-webkit-slider-thumb {
	background: var(--ui-fg);
	border-radius: 0.1em;
	margin: 0;
	padding: 0;
	width: 1.5em;
	height: 0.8em;
	cursor: grab;
}

bar input[type=range]::-webkit-slider-thumb:active {
	cursor: grabbing;
}

bar input[type=range]::-moz-range-thumb {
	background: var(--ui-fg);
	border-radius: 0.1em;
	width: 1.5em;
	height: 0.8em;
	cursor: grab;
}

bar input[type=range]::-moz-range-thumb:active {
	cursor: grabbing;
}

button-group > label {
	background: var(--ui-bg);
	color: var(--ui-fg);
	padding: 0 0.5em;
}

button-group > button {
	border-radius: 0;
	width: 1.2em;
}

button-group#tools, button#heatmap {
	display: none;
}

button#play-pause {
	width: 1.5em;
}

button#load {
	width: 1.75em;
}

button#about {
	width: 1.75em;
	height: 1.5em;
	border-radius: 1em 0 0 1em;
	margin-right: 0;
}

button#about icon {
	background-position: right;
}

button#stop icon { background-image: url(./symbols/stop.svg);}
button#play-pause icon { background-image: url(./symbols/play-pause.svg);}
button#step icon { background-image: url(./symbols/step.svg);}
button#heatmap icon { background-image: url(./symbols/heatmap.svg);}
button#hand-tool icon { background-image: url(./symbols/hand-tool.svg);}
button#eraser-tool icon { background-image: url(./symbols/eraser-tool.svg);}
button#slow icon { background-image: url(./symbols/slower.svg);}
button#fast icon { background-image: url(./symbols/faster.svg);}
button#overdrive icon { background-image: url(./symbols/overdrive.svg);}
button#snapshot icon { background-image: url(./symbols/snapshot.svg);}
button#help icon { background-image: url(./symbols/help.svg);}
button#about icon { background-image: url(./symbols/ww_about.svg);}
button#zoom-out icon { background-image: url(./symbols/zoom-out.svg);}
button#reset-view icon { background-image: url(./symbols/reset-view.svg);}
button#zoom-in icon { background-image: url(./symbols/zoom-in.svg);}
button#load icon { background-image: url(./symbols/file.svg);}

drag-region {
	order:2;
	background: var(--checker);
	flex-grow: 1;
	overflow: hidden;
	cursor: grab;
}

drag-region:active {
	cursor: grabbing;
}
