html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

html {
	font-size: 16px;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

bar {
	height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-shrink: 0;
}

bar.top {
	order: 1;
}

bar.bottom {
	order: 3;
}

bar-group {
	display: flex;
	align-items: center;
}

bar-group > * {
	margin: 0 0.2em;
}

bar-group.left {
	justify-content: flex-start;
}

bar-group.middle {
	justify-content: center;
}

bar-group.right {
	justify-content: flex-end;
}

drag-region {
	order: 2;
	flex-grow: 1;
	overflow: hidden;
}

paper {
	display: block;
	transform-origin: top left;
}

paper canvas {
	position: absolute;
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

wwgroup#tools,
button#heatmap {
	display: none;
}

input#zoom {
	width: 10em;
}

label#file-name {
	min-width: 10em;
}

popup-root {
	width: 100%;
	height: 100%;
	position: absolute;
	place-items: center;
	background: transparent;
	display: none;
}

popup-root.onscreen {
	display: grid;
}

popup {
	display: none;
	background: white;
	padding: 1em;
	max-width: 40vw;
	max-height: 40vh;
	overflow: hidden;
}

popup.onscreen {
	display: flex;
	flex-direction: column;
}

popup content {
	overflow-y: auto;
	margin: 1em 0;
	padding-right: 2em;
}

.code {
	font-family: monospace;
}

popup#about:not(.splash) .splash-only,
popup#about.splash .no-splash {
	display: none;
}

rm {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	filter: contrast(0) brightness(0.25);
	background-image: url(./rm.svg);
}

popup > bar {
	margin-top: 2em;
}

popup > bar bar-group > * {
	margin: 0 0.5em;
}

popup#drag-and-drop.onscreen {
	padding: unset;
	max-width: unset;
	max-height: unset;
	background: unset;

	width: calc(100% - 20vmin);
	height: calc(100% - 20vmin);

	place-items: center;
	text-align: center;

	font-size: 10vh;
	font-weight: bold;
	color: white;
	display: grid;

	border-radius: 0;
	border: 3vmin dashed white;

	cursor: copy;
}
