html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

html {
	font-size: 16px;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
}

bar {
	height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-shrink: 0;
}

bar.top {
	order:1;
}

bar.bottom {
	order:3;
}

bar-group {
	display: flex;
	align-items: center;
}

bar-group > * {
	margin: 0 0.2em;
}

bar-group.left {
	justify-content: flex-start;
}

bar-group.middle {
	justify-content: center;
}

bar-group.right {
	justify-content: flex-end;
}

drag-region {
	order:2;
	flex-grow: 1;
	overflow: hidden;
}

paper {
	display: block;
	transform-origin: top left;
}

paper canvas {
	position: absolute;
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

wwgroup#tools, button#heatmap {
	display: none;
}
