.wwgui {

	/* dynamic */
	--dead: gray;
	--wire: goldenrod;
	--tail: cornflowerblue;
	--head: deepskyblue;

	/* theme */
	--bg: #222;
	--element-bg: #999;
	--element-bg-hover: #ddd;
	--element-bg-active: #666;
	--element-fg: #222;
	--element-focus: #fff;

	--popup-bg: #fff;
	--popup-fg: #222;
	--popup-element-bg: #222;
	--popup-element-fg: #fff;
	--popup-element-bg-hover: #666;

	--behind-popups: #2228;

	/* basics */
	background: var(--bg);
	color: var(--element-bg);
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bold;

	/* prevent selection, this is a UI not a text region */
	user-select: none;
	-webkit-user-select: none;
}

.wwgui .wwcaption {
	display: none;
}

/* button */

.wwgui button {
	/* unset */
	border: unset;
	padding: unset;
	font-size: unset;

	/* styling */
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background-color: var(--element-bg);
	cursor: pointer;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media (any-hover: hover) {
	.wwgui button:hover {
		background-color: var(--element-bg-hover);
	}

	.wwgui button:active {
		background-color: var(--element-bg-active);
	}
}

.wwgui button:focus {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui button:focus:not(:focus-visible) {
	box-shadow: none;
	outline: 0;
}

.wwgui button:focus-visible {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

/* label */

.wwgui label {
	/*
		unset— except, I guess browsers
		don't do weird things to labels in the first place
	*/

	/* prevent selection, this is a UI not a text region */
	user-select: none;
	-webkit-user-select: none;

	font-size: 0.75em;
}

/* checkbox, aka checkbox-type input */

.wwgui input[type="checkbox"] {
	/* unset */
	-webkit-appearance: unset;
	font-size: unset;

	/* styling */
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background-color: var(--element-bg);
	cursor: pointer;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media (any-hover: hover) {
	.wwgui input[type="checkbox"]:hover {
		background-color: var(--element-bg-hover);
	}

	.wwgui input[type="checkbox"]:active {
		background-color: var(--element-bg-active);
	}
}

.wwgui input[type="checkbox"]:focus {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui input[type="checkbox"]:focus:not(:focus-visible) {
	box-shadow: none;
	outline: 0;
}

.wwgui input[type="checkbox"]:focus-visible {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui input[type="checkbox"]:checked {
	filter: contrast(0.75) brightness(3);
}

.wwgui input[type="checkbox"]:checked.turbo {
	will-change: transform;
	animation: fullturn 0.6s linear infinite;
}

@keyframes fullturn {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* select, aka "dropdown" */

.wwgui select {
	/* unset */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	border: none;
	display: inline-block;

	/* styling */
	background-color: var(--element-bg);
	color: var(--element-fg);
	padding: 0 0.5em 0 1.75em;
	font-family: inherit;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1em;

	height: 1.5em;
	border-radius: 1.5em;
	cursor: pointer;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0.125em center;
}

@media (any-hover: hover) {
	.wwgui select:hover {
		background-color: var(--element-bg-hover);
	}

	.wwgui select:active {
		background-color: var(--element-bg-active);
	}
}

.wwgui select:focus {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui select:focus:not(:focus-visible) {
	box-shadow: none;
	outline: 0;
}

.wwgui select:focus-visible {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

/* TODO: get this to work from wwicons.css */
.wwgui select.engine {
	background-image: url(./symbols/engine.svg);
}

/* slider, aka range-type input */

.wwgui input[type="range"] {
	/* unset */
	-webkit-appearance: unset;
	font-size: unset;

	width: 5em;
	height: 1em;
	background: var(--element-bg-active);
	padding: 0 0.1em;
}

.wwgui input[type="range"]::-webkit-slider-thumb {
	/* unset */
	-webkit-appearance: unset;

	background: var(--element-fg);
	border-radius: 0.1em;
	margin: 0;
	padding: 0;
	width: 1.5em;
	height: 0.8em;
	cursor: grab;
}

.wwgui input[type="range"]::-moz-range-thumb {
	/* unset */
	border: unset;

	background: var(--element-fg);
	border-radius: 0.1em;
	width: 1.5em;
	height: 0.8em;
	cursor: grab;
}

@media (any-hover: hover) {
	.wwgui input[type="range"]:hover {
		background-color: var(--element-bg-hover);
	}
}

.wwgui input[type="range"]:focus {
	outline: none;
}

.wwgui input[type="range"]::-webkit-slider-thumb:active {
	cursor: grabbing;
}

.wwgui input[type="range"]:focus::-webkit-slider-thumb {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui input[type="range"]:focus:not(:focus-visible)::-webkit-slider-thumb {
	box-shadow: none;
	outline: 0;
}

.wwgui input[type="range"]:focus-visible::-webkit-slider-thumb {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui input[type="range"]::-moz-range-thumb:active {
	cursor: grabbing;
}

.wwgui input[type="range"]:focus::-moz-range-thumb {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui input[type="range"]:focus:not(:focus-visible)::-moz-range-thumb {
	box-shadow: none;
	outline: 0;
}

.wwgui input[type="range"]:focus-visible::-moz-range-thumb {
	box-shadow: inset 0 0 0 0.125em var(--element-focus);
	outline: 0;
}

.wwgui input.zoom {
	width: 10em;
}

/* wwgroup and its effects on its children's styles */

.wwgui wwgroup {
	display: flex;
	align-items: stretch;
}

.wwgui wwgroup > * {
	margin: 0 max(1px, 0.025em);
}

.wwgui wwgroup > *:first-child {
	border-radius: 1em 0 0 1em;
}

.wwgui wwgroup > *:first-child {
	background-position: 60%;
}

.wwgui wwgroup > *:last-child {
	border-radius: 0 1em 1em 0;
}

.wwgui wwgroup > *:last-child {
	background-position: 40%;
}

.wwgui wwgroup > label {
	background: var(--element-bg);
	color: var(--element-fg);
	padding: 0 0.5em;
}

.wwgui wwgroup > button {
	border-radius: 0;
	width: 1.2em;
}

/* loading bar */

.wwgui loading-bar {
	display: block;
	background: linear-gradient(
		45deg,
		var(--loading-bar-1) 25%,
		var(--loading-bar-2) 25%,
		var(--loading-bar-2) 50%,
		var(--loading-bar-1) 50%,
		var(--loading-bar-1) 75%,
		var(--loading-bar-2) 75%
	);
	background-size: var(--loading-bar-size) var(--loading-bar-size);
	background-position: 0;

	animation: shift-right calc(1s / var(--loading-bar-speed)) infinite linear;
}

@keyframes shift-right {
	from {
		background-position: 0;
	}
	to {
		background-position: var(--loading-bar-size);
	}
}

/* drag region */

.wwdragregion {
	background: repeating-conic-gradient(#555 0% 25%, #333 0% 50%) 0 0 / 0.75rem 0.75rem;
	cursor: grab;
}

.wwdragregion:active {
	cursor: grabbing;
}

/* popups */

.wwgui popup-root.onscreen {
	background: var(--behind-popups);
}

.wwgui popup {
	font-family: sans-serif;
	font-size: min(2.5vmin, 1rem);
	font-weight: initial;
	background: var(--popup-bg);
	color: var(--popup-fg);
	padding: 2em;
	border-radius: 1em;
}

.wwgui popup a {
	font-weight: bold;
	color: unset;
}

.wwgui popup .title {
	font-size: 2em;
	font-weight: bold;
}

.wwgui popup .subtitle {
	font-size: 1.25em;
}

.wwgui popup > loading-bar {
	margin: 0 -2em;
	height: 2em;
	--loading-bar-1: black;
	--loading-bar-2: white;
	--loading-bar-speed: 5;
	--loading-bar-size: 4em;
}

.wwgui popup bar button {
	text-align: center;
	background-color: var(--popup-element-bg);
	color: var(--popup-element-fg);
	font-weight: bold;
	height: 1.5em;
	width: unset;
	border-radius: 2em;
	padding: 0 2em;
}

@media (any-hover: hover) {
	.wwgui popup bar button:hover {
		background-color: var(--popup-element-bg-hover);
	}

	.wwgui popup bar button:active {
		background-color: var(--popup-element-bg-hover);
	}
}

.wwgui popup bar button:focus {
	box-shadow: inset 0 0 0 0.125em var(--popup-element-bg);
	background: var(--popup-element-fg);
	color: var(--popup-element-bg);
	outline: 0;
}

.wwgui popup bar button:focus:not(:focus-visible) {
	box-shadow: none;
	outline: 0;
}

.wwgui popup bar button:focus-visible {
	box-shadow: inset 0 0 0 0.125em var(--popup-element-bg);
	background: var(--popup-element-fg);
	color: var(--popup-element-bg);
	outline: 0;
}

/* misc */

.wwgui .code {
	display: inline-block;
	border-radius: 0.2em;
	padding: 0 0.2em;
}

.wwgui .code.dead {
	background: var(--dead);
	color: var(--tail);
}

.wwgui .code.wire {
	background: var(--wire);
	color: var(--head);
}

.wwgui .code.tail {
	background: var(--tail);
	color: var(--dead);
}

.wwgui .code.head {
	background: var(--head);
	color: var(--wire);
}

.wwgui ul {
	list-style-type: square;
}
