.wwgui button.play-pause {
	width: 1.5em;
}

.wwgui button.load {
	width: 1.75em;
}

.wwgui button.about {
	width: 1.75em;
	height: 1.5em;
	border-radius: 1em 0 0 1em;
	margin-right: 0;
}

.wwgui button.about {
	background-position: right;
}

.wwgui button.stop {
	background-image: url(./symbols/stop.svg);
}
.wwgui button.play-pause {
	background-image: url(./symbols/play-pause.svg);
}
.wwgui button.step {
	background-image: url(./symbols/step.svg);
}
.wwgui button.heatmap {
	background-image: url(./symbols/heatmap.svg);
}
.wwgui button.hand-tool {
	background-image: url(./symbols/hand-tool.svg);
}
.wwgui button.eraser-tool {
	background-image: url(./symbols/eraser-tool.svg);
}
.wwgui button.slow {
	background-image: url(./symbols/slower.svg);
}
.wwgui button.fast {
	background-image: url(./symbols/faster.svg);
}
.wwgui input[type="checkbox"].turbo {
	background-image: url(./symbols/turbo.svg);
}
.wwgui button.snapshot {
	background-image: url(./symbols/snapshot.svg);
}
.wwgui button.help {
	background-image: url(./symbols/help.svg);
}
.wwgui button.about {
	background-image: url(./symbols/ww_about.svg);
}
.wwgui button.zoom-out {
	background-image: url(./symbols/zoom-out.svg);
}
.wwgui button.reset-view {
	background-image: url(./symbols/reset-view.svg);
}
.wwgui button.zoom-in {
	background-image: url(./symbols/zoom-in.svg);
}
.wwgui button.load {
	background-image: url(./symbols/file.svg);
}
/* TODO: why doesn't this work?*/
.wwgui select.engine {
	background-image: url(./symbols/engine.svg);
}